@model PortfolioViewer.Models.CustomDBUser

@{
	PortfolioViewer.Models.CustomDBUser user = (PortfolioViewer.Models.CustomDBUser)ViewData["user"];
	IEnumerable<PortfolioViewer.Models.Role> roles = (IEnumerable<PortfolioViewer.Models.Role>)ViewData["roles"];
	IEnumerable<PortfolioViewer.Models.Portfolio.Portfolio> portfolios = (IEnumerable<PortfolioViewer.Models.Portfolio.Portfolio>)ViewData["portfolios"];
}

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>@Model.FirstName @Model.LastName</strong></h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">

						@using (Html.BeginForm("UpdateUser", "Admin", FormMethod.Post, new { @class = "form", role = "form", id = "updateUserForm" }))
						{
							@Html.AntiForgeryToken()

							<input type="text" value="@Model.ID" name="ID" hidden>
							<table class="table">
								<tbody>
									<tr>
										<th scope="row">Username</th>
										<td>
											<input type="text" class="form-control" value="@Model.UserName" disabled>
										</td>
									</tr>
									<tr>
										<th scope="row">Email</th>
										<td><input class="form-control" type="text" value="@Model.Email" name="Email"></td>
									</tr>
									<tr>
										<th scope="row">Phone</th>
										<td><input type="text" class="form-control" id="phoneField" value="@Model.Phone" name="Phone" placeholder="Phone number"></td>
									</tr>
									<tr>
										<th scope="row">Role</th>
										<td>
											<div class="form-group">
												@Html.EditorFor(m => m.CurrentRole, new { roles = (IEnumerable<PortfolioViewer.Models.Role>)ViewData["roles"] })
											</div>
										</td>
									</tr>
								</tbody>
							</table>

							<div class="row">
								<div class="col-lg-4">
									<input type="button" id="updateUserBtn" value="Save Changes" class="btn btn-success" />
								</div>

							</div>
						}
					</div>

					<div class="col-lg-6">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">Portfolio Permissions:</h3>
							</div>
							<div class="panel-body">

								<table class="table">
									<tbody>
										@foreach (var p in portfolios)
										{
											<tr>
												<td>@p.Portfolio_Name</td>
												<td><input type="checkbox" class="form-check-input" id="@p.Portfolio_ID" checked></td>
											</tr>
										}
										</tbody>
								</table>
							</div>
						</div>

						<div id="updateSuccessAlertDiv" class="alert alert-success" role="alert" style="visibility: hidden">
							Successfully saved changes.
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<script>
	@*var roleList = @Html.Raw(Json.Encode(Model));*@


	$(document).ready(function () {
		$('#updateUserBtn').click(function () {
			var frm = $("#updateUserForm")

			$.ajax({
				type: frm.attr('method'),
				url: frm.attr('action'),
				data: frm.serialize(),
				success: function (data) {
					console.log(data);

					$('#updateSuccessAlertDiv').css({ opacity: 0.0, visibility: "visible" }).animate({ opacity: 1.0 }, 20).animate({ opacity: 0 }, 2400);
				},
				error: function (data) {
					console.log('An error occurred.');
					console.log(data);
				},
			});
		})
	})

</script>
