@model PortfolioViewer.Models.CustomDBUser

@{
	IEnumerable<PortfolioViewer.Models.Role> roles = (IEnumerable<PortfolioViewer.Models.Role>)ViewData["roles"];
	IEnumerable<PortfolioViewer.Models.Portfolio.Portfolio> portfolios = (IEnumerable<PortfolioViewer.Models.Portfolio.Portfolio>)ViewData["portfolios"];
}

<div class="row">
	<div class="col-lg-9">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Bear Little</strong></h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-8">
						<table class="table">
							<thead class="thead-light">
								<tr>
									<th scope="col">Details:</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<th scope="row">Username</th>
									<td>username@user.com</td>
								</tr>
								<tr>
									<th scope="row">Phone</th>
									<td>0707-call-me</td>
								</tr>
								<tr>
									<th scope="row">Current role</th>
									<td></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				@using (Html.BeginForm("ChangeRole", "Admin", FormMethod.Post, new { @class = "form", role = "form" }))
				{
					@Html.AntiForgeryToken()
					<div class="form-group row">
						<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
						<input class="form-control" type="text" placeholder="Default input" disabled>
					</div>

					<div class="form-group row">
						<label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						</div>
					</div>

					<div class="form-group">
						<select class="form-control" id="roleList" name="asdf">
							@foreach (var item in roles)
							{
								<option value="@Html.DisplayFor(m => item.ID)">@Html.DisplayFor(m => item.Name)</option>
							}
						</select>
					</div>

					<div class="form-row">
						<div class="form-group">
							<input type="submit" value="Apply" class="btn btn-primary" />
						</div>
					</div>
				}
			</div>
		</div>
	</div>


	<div class="col-lg-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Portfolio Permissions:</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group" id="portfolioListContainer">
					@foreach (var p in portfolios)
					{
						<li id="@p.Portfolio_ID" class="list-group-item">
							@p.Portfolio_Name
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>



	<script>
	var roleList = @Html.Raw(Json.Encode(Model));
	</script>
