@model IEnumerable<PortfolioViewer.Models.CustomDBUser>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrator panel:</h2>

@{
<div class="row">
	<div class="col-lg-4">
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Role</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						@*<td>
								@item.ID
							</td>*@
						<td>
							@item.UserName
						</td>
						@*<td>
								@item.FirstName
							</td>
							<td>
								@item.LastName
							</td>*@
						<td>
							@item.Role
						</td>
						<td>
							<button class="btn btn-primary" value="show">Show</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

}
